<%= flash_messages %>
<div class="block">
<header class="header-group">
<h2>Welcome to Document Tracking System for Faculty of Computer & Mathematical Sciences, UiTM </h2>
</header>
<div class="row">
<div class="col-md-12">
</div>
</div>
</div>
    <%if current_user.try(:admin?) %>
     <h3>Welcome Super Admin</h3>
    <% elsif current_user.try(:staff?) %>
   <h3>Welcome, Company Admin</h3>
    <% else %>
   <h3>Welcome</h3>
    <% end %>